<div *ngFor="let item of (roomList$ | async)">

  <div class="container-fluid shadow mt-5" *ngIf="(girisTarihi$ | async) !== '' || (departureDate$ | async)" >
    <div class="row">
      <div class="col-12 col-xl-6">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let image of item.images">
            <div class="picsum-img-wrapper">
              <img class="w-100" src="{{image}}" >
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="col-12 col-xl-6" >
        <div class="row">
          <div class="col-12 col-md-12 d-flex justify-content-center">{{ item.RoomType }}</div>
        </div>
        <hr>
        <div class="col-xl-12">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus alias, commodi corporis, debitis ea facilis nesciunt nihil praesentium quasi repudiandae sunt voluptas voluptate. Dolorem exercitationem fugiat molestias nemo quibusdam!
          <div class="row">
            <div class="col-6 col-md-6">
              <del>{{item.Price}}<i class="fa">&#xf195;</i></del><br>
              <strong>{{item.Netprice}}<i class="fa">&#xf195;</i></strong>
            </div>
            <div class="col-6 col-md-6">
              <button class="btn btn-outline-secondary" (click)="addToCart(item)">Sepete Ekle</button>
            </div>
          </div>
              <ul class="additional_info mt-xl-5">
                <li><i class=" icon-hotel-double_bed"></i></li>
                <li><i class="icon-hotel-wifi"></i></li>
                <li><i class="icon-hotel-tv"></i></li>
                <li><i class="icon-hotel-shower"></i></li>
                <li><i class="icon-hotel-hairdryer"></i></li>
                <li><i class="icon-hotel-condition"></i></li>
              </ul>
          <button class="btn btn-outline-secondary btn-block" (click)="statusToggle()">Oda Detay</button>
        </div>
      </div>
    </div>
    <div class="row mt-2" *ngIf="status">
      <div class="col-4 col-md-4"><button class="btn btn-outline-secondary">Müsaitlik</button></div>
      <div class="col-4 col-md-4"><button class="btn btn-outline-secondary">Fiyat Tablosu</button></div>
      <div class="col-4 col-md-4"><button class="btn btn-outline-secondary">Taksit Seçenekleri</button></div>
      <div>

      </div>
    </div>
  </div>
</div>
<div *ngIf="(girisTarihi$ | async) === ''">
  <div id="caption" class="hidden-xs">
    <h1>sunis kumkoy beach hotel</h1>
  </div>
</div>
