<div id="wrapper">
  <div id="main">
    <div id="form_container">
      <form id="wrapped">
        <div id="middle-wizard">
          <div class="step">
            <div class="title">
              <span>Booking Request</span>
              <h3>Enter your booking details</h3>
            </div>
            <div class="form-group">
              <input class="form-control required" type="text" name="check_in" id="check_in" ngbDatepicker #arr="ngbDatepicker" (click)="arr.toggle()" placeholder="Check in" #arrival>
              <i class="icon-hotel-calendar_3"></i>
            </div>
            <div class="form-group">
              <input class="form-control required" type="text" name="check_out" id="check_out" ngbDatepicker  #dep="ngbDatepicker" (click)="dep.toggle()" placeholder="Check out" #departure>
              <i class="icon-hotel-calendar_3"></i>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group nomargin">
                  <div class="qty-buttons">
                    <input type="button" value="+" class="qtyplus" name="adults" (click)="adultArttir()">
                    <input type="text" name="adults" id="adults" value="{{adult}}" class="qty form-control required" placeholder="Adults">
                    <input type="button" value="-" class="qtyminus" name="adults" (click)="adultAzalt()">
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group nomargin">
                  <div class="qty-buttons">
                    <input type="button" value="+" class="qtyplus" name="child" (click)="arttir()">
                    <input type="text" name="child" id="child" value="{{children}}" class="qty form-control required" placeholder="Child">
                    <input type="button" value="-" class="qtyminus" name="child" (click)="azalt()">
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-outline-secondary btn-block" (click)="otelAra(arrival.value, departure.value, adult.toString(), children.toString())">Ara</button>
          </div><!-- end step-->
        </div>
        <div id="bottom-wizard" class="clearfix">
          <strong>Or call us <a href="tel://{{hotelPhone$ | async}}">{{hotelPhone$ | async}}</a></strong>
        </div><!-- end bottom-wizard -->
        <div class="d-flex justify-content-center">
          <button type="button" name="backward" class="backward"></button>
          <span>Oda Seçimi</span>
          <button type="button" name="forward" class="forward" ></button>
        </div>
      </form>

    </div>
  </div>
</div>
