<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-rezervasyon></app-rezervasyon>
    </div>
    <div class="col-12 col-md-8 col-sm-12">
      <div class="md-stepper-horizontal orange">
        <div class="md-step active" (click)="clicked(1)" [ngClass]="{'active': selectedItem === 1}">
          <div class="md-step-circle"><span>1</span></div>
          <div class="md-step-title">Oda Seçimi</div>
          <div class="md-step-bar-right d-none d-md-block d-lg-block d-xl-block"></div>
        </div>
        <div class="md-step" (click)="clicked(4)" [ngClass]="{'active': selectedItem === 4}" >
          <div class="md-step-circle"><span>2</span></div>
          <div class="md-step-title">Transfer</div>
          <div class="md-step-optional">Optional</div>
          <div class="md-step-bar-left d-none d-md-block d-lg-block d-xl-block"></div>
          <div class="md-step-bar-right d-none d-md-block d-lg-block d-xl-block"></div>
        </div>
        <div class="md-step" (click)="clicked(2)" [ngClass]="{'active': selectedItem === 2}">
          <div class="md-step-circle"><span>3</span></div>
          <div class="md-step-title">Kisisel Bilgiler<br>Payment</div>
          <div class="md-step-bar-left d-none d-md-block d-lg-block d-xl-block"></div>
          <div class="md-step-bar-right d-none d-md-block d-lg-block d-xl-block"></div>
        </div>
        <div class="md-step" (click)="clicked(3)" [ngClass]="{'active': selectedItem === 3}">
          <div class="md-step-circle"><span>4</span></div>
          <div class="md-step-title">Onay</div>
          <div class="md-step-bar-left d-none d-md-block d-lg-block d-xl-block"></div>
        </div>
      </div>
      <app-icerik *ngIf="selectedItem === 1"></app-icerik>
      <app-kisisel-bilgiler *ngIf="selectedItem === 2"></app-kisisel-bilgiler>
      <app-onay *ngIf="selectedItem === 3"></app-onay>
      <div *ngIf="selectedItem === 4">
        <app-car></app-car>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 d-none d-md-block d-lg-block d-xl-block">
      <app-sepet></app-sepet>
    </div>
    <div class="d-none d-block d-sm-block d-md-none d-xl-none d-lg-none col-12 ">
      <input id="menu-switch" type="checkbox" />
      <div id="menu" *ngIf="tutar !== 0 && btnClicked">
            <ul class="list-group list-group-flush bg-info">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Giriş Tarihi
                <span>{{girisTarihi$ | async}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Çıkış Tarihi
                <span>{{cikisTarihi$ | async}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Yetişkin ve Çocuk Sayısı
                <span>{{yetiskinSayisi$ | async}} - {{cocukSayisi$ | async}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0" *ngFor="let item of (shoppingCart$ | async)">
                {{item.odaTipi}}
                <span>{{item.fiyat}}<i class="fa">&#xf195;</i><button class="btn btn-outline-danger btn-sm" (click)="deleteItem(item)">X</button></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0" *ngFor="let ekstraHizmet of (ekstraHizmet$ | async)">
                {{ekstraHizmet.hizmetAdi}}
                <span>{{ekstraHizmet.fiyat}}<i class="fa">&#xf195;</i><button class="btn btn-outline-danger btn-sm" (click)="deleteHizmet(ekstraHizmet)">X</button></span>
              </li>
            </ul>
      </div>
      <div class="page-wrap">
        <div>
          <label for="menu-switch">
            <button id="menu-toggle" class="btn btn-sm btn-outline-primary" (click)="changeValue()" [disabled]="tutar === 0">
              <div *ngIf="!btnClicked"><i class="fa fa-arrow-up"></i></div>
              <div *ngIf="btnClicked"><i class="fa fa-arrow-down"></i></div>
            </button>
          </label>
         <div class="alert alert-success" *ngIf="tutar === 0">
           Lütfen oda seçiniz
         </div>
          <div class="alert alert-light" *ngIf="tutar !== 0">
            <div class="row">
              <div class="col-6">Toplam Tutar</div>
              <div class="col-6 d-flex justify-content-end">{{tutar}}<i class="fa">&#xf195;</i></div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>


