<h4 class="d-flex justify-content-center">Sepet</h4>
<ul class="list-group list-group-flush">
  <li class="list-group-item d-flex justify-content-between align-items-center border-0">
    Giriş Tarihi
    <span>{{girisTarihi$ | async}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center border-0">
    Çıkış Tarihi
    <span>{{cikisTarihi$ | async}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center border-0">
    Yetişkin ve Çocuk Sayısı
    <span>{{yetiskinSayisi$ | async}} - {{cocukSayisi$ | async}}</span>
  </li>
</ul>
<hr>
<ul class="list-group list-group-flush">
  <li class="list-group-item d-flex justify-content-between align-items-center border-0 "
      *ngFor="let item of (shoppingCart$ | async)">
    {{item.odaTipi}}
    <span>{{item.fiyat}}<i class="fa">&#xf195;</i><button class="btn btn-outline-danger btn-sm"
                                                          (click)="deleteItem(item)">X</button></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let ekstraHizmet of (ekstraHizmet$ | async)">
    {{ekstraHizmet.hizmetAdi}}
    <span>{{ekstraHizmet.fiyat}}<i class="fa">&#xf195;</i><button class="btn btn-outline-danger btn-sm"
                                                                  (click)="deleteHizmet(ekstraHizmet)">X</button></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center border-0">
    <div>
      <strong>Sepet Tutarı</strong>
    </div>
    <span><strong>{{sepetTutari}} <i class="fa">&#xf195;</i></strong></span>
  </li>
</ul>


